@model TModel

<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
</head>
<body>
<div>
    <table>
        
    </table>
    
    <h1>Add student</h1>
    
    @using (Html.BeginForm("AddStudent", "Student", FormMethod.Post))
    {
        
    }
</div>
</body>
</html>