#addOrUpdateContainer {
    width: 70%;
    margin: 0 auto;
}

#indexContainer {
    margin: 10px;
}

#studentDetailedView {
    width: 600px; 
    margin: 0 auto;
}

#validationMsg {
    color: darkred;
}