@using EDeanery.Host.Models
@model EDeanery.Host.Models.StudentGetModel

<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
@await Html.PartialAsync("NavBar")
<div id="indexContainer">
    <h1>Students</h1>
    <div>
        @await Html.PartialAsync("ViewStudents", (object) ViewBag.Students)
    </div>
    <div>
        <a href="@Url.Action("AddOrUpdateStudent", new {add = "true"})" class="btn btn-info">Add</a>
    </div>
</div>
</body>
</html>